<a href="https://colab.research.google.com/github/qkfnfj/study/blob/main/3%EC%9E%A5_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
iris_data=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", header=None)
iris_data.columns=['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species']
iris_data.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
x, y = iris_data[['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width']], iris_data['Species']

In [ ]:
from sklearn.model_selection import train_test_split
train_data, test_data=train_test_split(iris_data,test_size=0.2, random_state=10040)
X_train=train_data[['Sepal_Length', 'Sepal_Width', 'Petal_Length','Petal_Width']]
y_train=train_data['Species']
X_test=test_data[['Sepal_Length', 'Sepal_Width', 'Petal_Length','Petal_Width']]
y_test=test_data['Species']

In [ ]:
X_train.head()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
50            7.0          3.2           4.7          1.4
36            5.5          3.5           1.3          0.2
79            5.7          2.6           3.5          1.0
127           6.1          3.0           4.9          1.8
3             4.6          3.1           1.5          0.2

In [ ]:
y_train.head()

50     Iris-versicolor
36         Iris-setosa
79     Iris-versicolor
127     Iris-virginica
3          Iris-setosa
Name: Species, dtype: object

In [ ]:
y_train_se = (y_train == 'Iris-setosa')
y_test_se = (y_test == 'Iris-setosa')
y_train_se

50     False
36      True
79     False
127    False
3       True
       ...
125    False
54     False
53     False
130    False
75     False
Name: Species, Length: 120, dtype: bool

In [ ]:
y_train_se.head()

50     False
36      True
79     False
127    False
3       True
Name: Species, dtype: bool

In [ ]:
y_test_se.head()

8       True
66     False
28      True
110    False
78     False
Name: Species, dtype: bool

In [ ]:
from sklearn.linear_model import SGDClassifier

sgd_clf = SGDClassifier(max_iter = 1000, tol = 1e-3, random_state=10040)
sgd_clf.fit(X_train, y_train_se)

SGDClassifier(random_state=10040)

In [ ]:
X_test.loc[8]

Sepal_Length    4.4
Sepal_Width     2.9
Petal_Length    1.4
Petal_Width     0.2
Name: 8, dtype: float64

In [ ]:
sgd_clf.predict([X_test.loc[8]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SGDClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([ True])

In [ ]:
from sklearn.model_selection import cross_val_score

cross_val_score(sgd_clf, X_train, y_train_se, cv = 3, scoring = "accuracy")

array([0.95, 1.  , 1.  ])

In [ ]:
from sklearn.metrics import confusion_matrix

y_test_pred = sgd_clf.predict(X_test)
confusion_matrix(y_test_se, y_test_pred)

array([[24,  0],
       [ 0,  6]])

In [ ]:
from sklearn.metrics import precision_score, precision_score, recall_score

precision_score(y_test_se, y_test_pred)

1.0

In [ ]:
recall_score(y_test_se, y_test_pred)

1.0