<a href="https://colab.research.google.com/github/qkfnfj/study/blob/main/4%EC%9E%A5_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
column_names = ['MPG','Cylinders','Displacement','Horsepower','Weight','Acceleration', 'Model Year', 'Origin']
auto_data=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data", names=column_names,sep=" ", na_values = "?",comment='\t', skipinitialspace=True)

In [ ]:
auto_data.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = "median")
imputer.fit(auto_data)

X=imputer.transform(auto_data)
auto_tr=pd.DataFrame(X,columns=auto_data.columns, index=auto_data.index)

In [ ]:
auto_tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MPG           398 non-null    float64
 1   Cylinders     398 non-null    float64
 2   Displacement  398 non-null    float64
 3   Horsepower    398 non-null    float64
 4   Weight        398 non-null    float64
 5   Acceleration  398 non-null    float64
 6   Model Year    398 non-null    float64
 7   Origin        398 non-null    float64
dtypes: float64(8)
memory usage: 25.0 KB

In [ ]:
from sklearn.model_selection import train_test_split
auto_train, auto_test=train_test_split(auto_tr,test_size=0.3, random_state=10040)

In [ ]:
auto_tr.shape

(398, 8)

In [ ]:
auto_train.shape

(278, 8)

In [ ]:
auto_test.shape

(120, 8)

In [ ]:
X_train = auto_train[['Horsepower', 'Weight']]
y_train = auto_train[['MPG']]
X_test = auto_test[['Horsepower','Weight']]
y_test = auto_test[['MPG']]

In [ ]:
X_train.head()

     Horsepower  Weight
144        52.0  1649.0
161       105.0  3897.0
86        150.0  3672.0
140       150.0  4257.0
343        58.0  1755.0

In [ ]:
y_train.head()

      MPG
144  31.0
161  16.0
86   14.0
140  14.0
343  39.1

In [ ]:
X_test.head()

     Horsepower  Weight
107       100.0  2789.0
3         150.0  3433.0
327        67.0  2950.0
389       112.0  2835.0
132        75.0  2542.0

In [ ]:
y_test.head()

      MPG
107  18.0
3    16.0
327  36.4
389  22.0
132  25.0

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lin_reg=LinearRegression()

In [ ]:
lin_reg.fit(X_train, y_train)

LinearRegression()

In [ ]:
lin_reg.intercept_

array([45.8302557])

In [ ]:
lin_reg.coef_

array([[-0.04116542, -0.00607752]])

In [ ]:
y_pred = lin_reg.predict(X_test)
import numpy as np
np.mean((y_test-y_pred)**2)

MPG    21.530192
dtype: float64