# 모의고사 1회차

## 작업 1유형

In [125]:
import numpy as np
import pandas as pd

```{attention} 
데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)    
데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부      
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv      
```

In [101]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

In [102]:
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

```{admonition} Question1
**마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)**
```

In [127]:
a = (df['age']//10*10).value_counts()
# b = a.index[0]
# print(b)
a

age
30    5056
40    3198
50    2244
20    1638
60     460
70     193
80      57
10      18
90       6
Name: count, dtype: int64

```{admonition} Question2
**마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?**
```

In [128]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

a = (df['age']//10*10).value_counts()
b = a.values[0]
print(b)

5056

```{admonition} Question3
**나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?**
```

In [132]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

cond1 = (df['age']>=25)
cond2 = (df['age']<29)
df = df[cond1 & cond2]
df
print(sum(df['housing']=='yes'))

504

```{admonition} Question5
**balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?**
```

In [133]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
import numpy as np

a = df['balance'].mean()

df['balance'] = df['balance'][df['balance']>=a]
df = df.sort_values('ID',ascending=False)
df = df.head(100)
print(df['balance'].mean())

3332.6296296296296

In [137]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df = df[df['balance'] >= df['balance'].mean()]
df = df.sort_values('ID',ascending=False)
df = df.head(100)
print(df['balance'].mean())

3473.73

```{admonition} Question6
**가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)**
```

In [139]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
a = df[['day','month']].value_counts()
print(a.index[0])

(15, 'may')

```{admonition} Question7
**데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라**
```

In [144]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
import scipy.stats as stats
from scipy.stats import shapiro

a = (df['job']=='unknown')
df = df[a]
p = shapiro(df['age'])
print(p)

0.19612720608711243

```{admonition} Question8
**age와 balance의 상관계수를 구하여라**
```

In [147]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
a = df[['age','balance']].corr()
# a
print(a.head(1))

     age   balance
age  1.0  0.101987

```{admonition} Question9
**y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라**
```

In [148]:
a = pd.crosstab(df['y'],df['education'])
from scipy.stats import chi2_contingency
p = chi2_contingency(a)
print(p)

Chi2ContingencyResult(statistic=133.87601246919445, pvalue=7.901201277473551e-29, dof=3, expected_freq=array([[1300.51592852, 4405.15182595, 2818.93745144,  378.39479409],
       [ 579.48407148, 1962.84817405, 1256.06254856,  168.60520591]]))

## 작업 2유형

```{attention} 
데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)    
데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부      
train : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv       
test : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv       
submission : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv       
```

In [108]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

display(train.head())
display(test.head())
display(submission.head())

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,53608,32,management,single,tertiary,no,12569,no,no,cellular,1,jul,2,295,2,success
1,51055,25,services,single,secondary,no,801,no,no,cellular,5,jun,2,-1,0,unknown
2,52573,46,blue-collar,married,secondary,no,1728,yes,no,unknown,26,may,2,-1,0,unknown
3,50458,39,management,divorced,secondary,no,51,no,no,unknown,17,jun,2,-1,0,unknown
4,52272,31,services,single,tertiary,no,1626,no,no,unknown,31,jul,1,-1,0,unknown

      ID  predict
0  53608      0.0
1  51055      0.0
2  52573      0.0
3  50458      0.0
4  52272      0.0

```{admonition} 간단한 모델링 작업
**모델링 및 submission파일 생성까지**
```

In [121]:
x_train = train.drop(['ID','y'],axis=1)
x_test = test
y = train['y']

x_train_dummies = pd.get_dummies(x_train)
x_test_dummies = pd.get_dummies(x_test)

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

x_train, x_val, y_train, y_val = train_test_split(x_train_dummies,y, test_size=0.2,stratify = y,random_state=42)
rf = RandomForestClassifier(random_state=23)
rf.fit(x_train,y_train)

y_pred = rf.predict(x_val)
acc = accuracy_score(y_val,y_pred)
# print(acc)
y_result = rf.predict(x_test_dummies)
pd.DataFrame({'result':y_result}).to_csv('007002940.csv',index=False)

0.7754467754467754