# 6회 기출 변형

In [1]:
import pandas as pd
import numpy as np

# 작업 1유형

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv**
데이터 출처 : https://bigdata-119.kr/
데이터 설명 : 소방신고별 신고시각과 출동시각 데이터
컬럼 설명 : 신고일자 (yyyymmdd) / 신고시각 (HHMMSS , 00시 , 00분의 경우 등 생략)
```

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

```{admonition} 1-1
**각 구급 보고서 별 출동시각과 신고시각의 차이를 '소요시간' 컬럼을 만들고 초(sec)단위로 구하고 소방서명 별 소요시간의 평균을 오름차순으로 정렬 했을때 3번째로 작은 소요시간의 값과 소방서명을 출력하라**
```

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df['소요시간'] = df['출동시각']-df['신고시각']
df

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소,소요시간
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집,242
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집,227
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설,400
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집,-235069
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집,222
...,...,...,...,...,...,...,...,...,...,...
2757,20211109507M05492,성북소방서,복통,20211102,34700,20211102,34800,직장인,집,100
2758,20211117104M01900,강서소방서,고열,20210414,190900,20210414,191200,무직,의료관련시설,300
2759,20211111106M01431,노원소방서,호흡곤란,20210524,235900,20210525,130,무직,집,-235770
2760,20211107102M01938,동대문소방서,요통,20210715,152000,20210715,152244,직장인,집,244
2761,20211110509M01584,도봉소방서,의식장애,20210401,223400,20210401,223800,무직,집,400

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv**
데이터 출처 :https://kess.kedi.re.kr/contents/dataset
국내 학교 및 학급 인원 수
```

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv')
df.head(5)

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1           가락고등학교  서울  일반고등학교         765        70
2           개포고등학교  서울  일반고등학교         684        69
3           경기고등학교  서울  일반고등학교        1047        96
4           경동고등학교  서울  일반고등학교         529        58

```{admonition} 1-2
**학교 세부유형이 일반중학교인 학교들 중 일반중학교 숫자가 2번째로 많은 시도의 일반중학교 데이터만 필터하여 해당 시도의 교원 한명 당 맡은 학생수가 가장 많은 학교를 찾아서 해당 학교의 교원수를 출력하라**
```

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv')
df = df[df['학교세부유형']=='일반중학교']
a = pd.crosstab(df['학교세부유형'],df['시도'])
# a
df = df[df['시도']=='서울']
df['a1'] = df['일반학급_학생수_계']/df['교원수_총계_계']
df = df.sort_values(['a1'],ascending=False)
# df
print(33)

33

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv**
5대범죄 발생현황 : https://www.data.go.kr/data/15085721/fileData.do#layer_data_infomation & 후처리
```

In [30]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv')
df.head(5)

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186
1  2018년_2월  12504  19159  403  135  12087
2  2018년_3월  14733  24509  471  148  13841
3  2018년_4월  14781  23147  414  135  13973
4  2018년_5월  15988  23584  451  127  14117

```{admonition} 1-3
**5대 범죄(절도, 사기, 배임, 방화, 폭행)의 월별 총 발생건수를 총범죄수라고 표현하자. 18,19년의 각각 분기별 총범죄수의 월평균 값을 구했을때 최대값을 가지는 년도와 분기를 구하고 해당 분기의 최댓값의 사기가 발생한 월의 사기 발생건수를 출력하라(1분기:1,2,3월 / 2분기 : 4,5,6월 / 3분기 7,8,9월 / 4분기 10,11,12월 , 1분기 월평균 : 1,2,3월의 총범죄수 평균) **
```

In [31]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv')
df['총범'] = df['절도']+df['사기']+df['배임']+df['방화']+df['폭행']
df

         범죄분류     절도     사기   배임   방화     폭행     총범
0    2018년_1월  13280  25318  656  143  12186  51583
1    2018년_2월  12504  19159  403  135  12087  44288
2    2018년_3월  14733  24509  471  148  13841  53702
3    2018년_4월  14781  23147  414  135  13973  52450
4    2018년_5월  15988  23584  451  127  14117  54267
5    2018년_6월  15744  23001  453  110  14362  53670
6    2018년_7월  16140  24990  632   98  14339  56199
7    2018년_8월  16327  24463  434  102  14824  56150
8    2018년_9월  16091  22073  486  130  15256  54036
9   2018년_10월  15122  21769  531  107  13286  50815
10  2018년_11월  13568  23829  398  118  12386  50299
11  2018년_12월  13180  22724  459  125  13843  50331
12   2019년_1월  14492  27620  678  129  12043  54962
13   2019년_2월  13303  21671  360  107  10893  46334
14   2019년_3월  15910  28432  524  114  13136  58116
15   2019년_4월  15305  27125  478  138  13322  56368
16   2019년_5월  17333  27766  509  131  14572  60311
17   2019년_6월  16937  25822  491  101  15285  58636
18   2019년_7월  16777  26644  562  111  15180  59274
19   2019년_8월  17128  26896  432  104  14876  59436
20   2019년_9월  16487  24459  497  106  14745  56294
21  2019년_10월  16487  26421  528  114  13904  57454
22  2019년_11월  14420  26138  468   91  11864  52981
23  2019년_12월  13050  24599  469   99  12095  50312

# 작업 2유형

```{attention} 
건강 상태 분류문제 : https://www.kaggle.com/datasets/alphiree/cardiovascular-diseases-risk-prediction-dataset 
**train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv**
**test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv**

예측 변수 General_Health, test.csv에 대해 ID별로 General_Health 값을 예측하여 제출, 제출 데이터 컬럼은 ID와 General_Health 두개만 존재해야함. 평가지표는 f1score
```

In [32]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv')

display(train.head(2))
test.head(2)

,ID,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_1473,Good,Within the past 2 years,Yes,No,No,No,No,No,Yes,Female,55-59,168.0,77.11,27.44,No,1.0,12.0,4.0,4.0
1,ID_2045,Good,Within the past 2 years,Yes,No,No,No,No,No,No,Female,40-44,152.0,58.97,25.39,No,0.0,8.0,16.0,8.0

,ID,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_14547,Within the past year,Yes,No,No,No,No,No,No,Male,35-39,180.0,81.65,25.10,No,15.0,8.0,25.0,12.0
1,ID_26,5 or more years ago,No,No,Yes,No,No,No,No,Male,60-64,183.0,79.38,23.73,No,1.0,4.0,4.0,4.0

In [51]:
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv')
# 1. 데이터 탐색
# print(train.info())
# print(test.info())

# 2. 데이터 전처리
x_train = train.drop(['ID','General_Health'],axis=1)
x_test = test.drop(['ID'],axis=1)
y = train['General_Health']
# print(x_train.info())
# print(x_test.info())
x_train_dummies = pd.get_dummies(x_train)
x_test_dummies = pd.get_dummies(x_test)
x_test_dummies = x_test_dummies.reindex(columns = x_train_dummies.columns, fill_value=0)

# print(x_train_dummies.info())
# print(x_test_dummies.info())
# 3. 모델링
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

x_train,x_val,y_train,y_val = train_test_split(x_train_dummies,y,test_size=0.2,stratify=y,random_state=42)
rf = RandomForestClassifier(random_state=23)
rf.fit(x_train,y_train)

# 4. 성능확인
y_pred = rf.predict(x_val)
acc = accuracy_score(y_val,y_pred)
print(acc)

# 5.제출
y_result = rf.predict_proba(x_test_dummies)[:,1]
pd.DataFrame({'result':y_result}).to_csv('007002940.csv',index=False)

0.5565449688334817

# 작업 3유형

```{attention} 
A 도시의 남성 600명과 여성 550명이 있다. 남성들 중 흡연자 비율은 0.2이며 여성들 중 흡연자 비율은 0.26이다.     
남성과 여성 간에 흡연 여부에 따른 인구 비율이 다른지 확인하고 싶다. 유의 수준 0.05하 귀무가설에 대해 기각 / 채택 여부와 p-value값을 각각 출력하라
```

```{attention} 

연령 몸무게 콜레스테롤 수치 데이터
데이터 출처 : https://www.kaggle.com/datasets/hangawqadir/erbil-heart-disease-dataset
데이터 url : https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv

연령, 몸무게,콜레스테롤 수치 데이터
```

In [52]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

```{admonition} 3-2-a
**age와 Cholesterol을 가지고 weight를 예측하는 선형 회귀 모델을 만들려고한다. age의 회귀 계수를 구하여라**
```

In [65]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
x = df[['age','Cholesterol']]
y = df['weight']

import scipy.stats as stats
import statsmodels.api as sm

x = sm.add_constant(x)
model = sm.OLS(y,x).fit()
print(model.summary())
print(-0.0361)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     7.574
Date:                Fri, 01 Dec 2023   Prob (F-statistic):           0.000608
Time:                        11:59:53   Log-Likelihood:                -1374.9
No. Observations:                 333   AIC:                             2756.
Df Residuals:                     330   BIC:                             2767.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          74.8953      4.455     16.813      0.000      66.132      83.658
age            -0.0361      0.059     -0.611      0.542      -0.152       0.080
Cholesterol     0.0819      0.022      3.716      0.000       0.039       0.125
==============================================================================
Omnibus:                       15.848   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.569
Skew:                           0.471   Prob(JB):                     0.000153
Kurtosis:                       3.617   Cond. No.                         701.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
-0.0361

```{admonition} 3-1-b
**age가 고정일 때 Cholesterol와 weight가 선형관계에 있다는 가설을 유의수준 0.05하에 검정하라**
```

In [62]:
a = model.pvalues['Cholesterol']
a

0.00023778081979581412

```{admonition} 3-1-b
**age가 55, Cholesterol가 72.6일때 위 모델을 기반으로 weight값을 예측하라.**
```

In [67]:
a = 74.8953 + (-0.0361)*55 + (0.0819)*72.6
print(a)

78.85574