# 모의고사 3회차

In [2]:
import pandas as pd
import numpy as np

## 작업 1유형

```{attention} 
데이터 출처 : [link](https://www.kaggle.com/datasets/muhmores/spotify-top-100-songs-of-20152019?select=Spotify+2010+-+2019+Top+100.csv) (후처리 작업)         
데이터 설명 : 2010-2019 스포티파이 TOP100 노래     
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv      
```

In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo

```{admonition} Question1
**데이터는 현재 년도별 100곡이 인기순으로 정렬되어 있다. 각 년도별 1~100위의 랭킹을 나타내는 rank컬럼을 만들고 매년도 1위의 bpm컬럼의 평균값을 구하여라**
```

In [93]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df = df.dropna()

df['rank'] = list(range(1,101))*10
df = df[df['rank']==1]
print(df['bpm'].mean())

125.6

```{admonition} Question2
**2015년도에 가장많은 top100곡을 올린 artist는 누구인가?**
```

In [94]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')

a = (df['top year']==2015)
df = df[a]
df = df.value_counts(['artist'])
df
# df.index[0]

artist
Taylor Swift      4
The Weeknd        4
Selena Gomez      3
Fetty Wap         3
Avicii            2
                 ..
Mark Ronson       1
Alessia Cara      1
Meek Mill         1
Mumford & Sons    1
Zedd              1
Name: count, Length: 78, dtype: int64

```{admonition} Question3
**년도별 rank값이 1~10위 까지의 곡들 중 두번째로 많은 top genre는 무엇인가?**
```

In [105]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df = df.dropna()
df['rank'] = list(range(1,101))*10

df = df[df['rank'].isin(range(1,11))]
df = df['top genre'].value_counts()
print(df.index[1])
# df

atl hip hop

```{admonition} Question4
**피처링의 경우 title에 표시된다. 피처링을 가장 많이 해준 가수는 누구인가?**
```

In [108]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')

df = df['title'].str.split('feat. ').str[1].dropna().str[:-1].value_counts()
# df
print(df.index[0])

Bruno Mars

```{admonition} Question5
**top year 년도를 기준으로 발매일(year released)과 top100에 진입한 일자 (top year)가 다른 곡의 숫자를 count 했을때 가장 많은 년도는?**
```

In [113]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')

df = df[df['year released'] != df['top year']]
df = df['top year'].value_counts()
# df
print(df.index[0])

2016.0

```{admonition} Question6
**artist 컬럼의 값에 대소문자 상관없이 q 단어가 들어가는 아티스트는 몇명인가?**
```

In [124]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df = df.dropna()
df = df[df['artist'].str.lower().str.contains('q')]
a = df['artist'].unique()
# print(a)
print(len(a))

6

```{admonition} Question7
**년도 상관없이 전체데이터에서 1~50위와 51~100위간의 dur 컬럼의 평균값의 차이는?**
```

In [130]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df = df.dropna()
df['rank'] = list(range(1,101))*10

df1 = df.copy()
df2 = df.copy()

df1 = df[df['rank'].isin(range(1,51))]
df2 = df[df['rank'].isin(range(51,101))]
# df1

m1 = df1['dur'].mean()
m2 = df2['dur'].mean()

print(m1-m2)

0.896000000000015

```{admonition} Question9
**년도별 nrgy값의 평균값을 구할때 최대 평균값과 최소 평균값의 차이를 구하여라**
```

In [148]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df = df.groupby(['top year'])['nrgy'].mean()
a = df.index[-1]
b = df.index[0]
df

top year
2010.0    76.65
2011.0    76.10
2012.0    74.07
2013.0    72.44
2014.0    71.03
2015.0    67.53
2016.0    65.80
2017.0    63.16
2018.0    65.45
2019.0    62.79
Name: nrgy, dtype: float64

```{admonition} Question10
**artist중 artist type 타입을 여러개 가지고 있는 artist는 누구인가**
```

In [71]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df
ct = pd.crosstab(df['artist'],df['artist type'])
ct
a = ct['Band/Group']+ct['Duo']+ct['Solo']+ct['Trio']
ct['va'] = a
ct = ct.sort_values('va',ascending=False)
ct
print(ct.index[0])

Taylor Swift

## 작업 2유형

```{attention} 
데이터 설명 : 센서데이터로 동작 유형 분류 (종속변수 pose : 0 ,1 구분)     
x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv     
y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv      
x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv      
[출처](https://www.kaggle.com/kyr7plus/emg-4)(참고, 데이터 수정)    
```

In [72]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")


display(x_train.head())
display(y_train.head())

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,0,1.0,-2.0,-1.0,4.0,-5.0,-4.0,1.0,0.0,-15.0,...,0.0,-1.0,-13.0,-3.0,1.0,-1.0,-32.0,-22.0,-2.0,-3.0
1,2,20.0,0.0,0.0,1.0,5.0,6.0,-52.0,18.0,15.0,...,-70.0,-55.0,-38.0,-14.0,-12.0,-8.0,-34.0,-63.0,-87.0,-77.0
2,4,1.0,-1.0,1.0,4.0,-5.0,-8.0,1.0,-3.0,-14.0,...,1.0,12.0,-25.0,0.0,0.0,3.0,2.0,-27.0,1.0,0.0
3,5,13.0,2.0,1.0,-3.0,1.0,3.0,28.0,3.0,12.0,...,0.0,-21.0,-17.0,-2.0,0.0,-4.0,-17.0,-21.0,-21.0,25.0
4,6,-2.0,-7.0,-4.0,-8.0,16.0,44.0,1.0,3.0,-16.0,...,-1.0,2.0,-1.0,1.0,4.0,4.0,-17.0,-38.0,-3.0,3.0

   ID  pose
0   0     1
1   2     0
2   4     1
3   5     0
4   6     1

In [89]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")
# 1. 데이터탐색
# print(x_train.info())
# print(x_test.info())
# print(y_train.info())

# 2. 데이터 전처리
drop_col = ['ID']
x_train_drop = x_train.drop(columns=drop_col)
x_test_drop = x_test.drop(columns=drop_col)
y = y_train['pose']

x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)
x_test_dummies = x_test_dummies[x_train_dummies.columns]

# 3. 모델링
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,roc_auc_score

x_train, x_val, y_train, y_val = train_test_split(x_train_dummies, y, test_size=0.2, stratify=y, random_state=42)
rf = RandomForestClassifier(random_state=23)
rf.fit(x_train,y_train)

# 4. 성능확인
y_pred = rf.predict(x_val)
y_pred_proba = rf.predict_proba(x_val)
acc = accuracy_score(y_val,y_pred)
auc = roc_auc_score(y_val,y_pred)
print(auc)
print(acc)

# 5. 제출
# y_result = rf.predict(x_test_dummies)
# pd.DataFrame({'result':y_result}).to_csv('007002940.csv',index=False)

0.9956896551724138
0.9956989247311828