# 2회 기출 변형

In [1]:
import pandas as pd
import numpy as np

# 작업 1유형

```{attention} 
데이터설명 : 보스턴집값, 각 행은 지역구별 집값관련된 메타정보 : https://www.kaggle.com/datasets/arunjathari/bostonhousepricedata   
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv**
```

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,NaN,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,NaN,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

```{admonition} 1-1
주어진 Dataset에서 CRIM값이 가장 큰 10개의 지역을 구하고     
10개의 지역의 CRIM값을 그 중 가장 작은 값으로 대체하라. 그리고          
AGE 컬럼 값이 80이상인 대체 된 CRIM 평균값을 구하라      
```

In [86]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df = df.sort_values(['CRIM'],ascending=False).reset_index(drop=True)
df.loc[:9,'CRIM'] = df.loc[:9,'CRIM'].min()
df = df[df['AGE'] >= 80]
print(df['CRIM'].mean())

5.759386625

```{admonition} 1-2
**1-1에서 사용한 데이터에서 RM 중앙값으로 해당 컬럼의 결측치를 대체하라          
그리고 해당 컬럼의 결측치 대치 전후의 표준편차 차이의 절댓값을 소숫점 이하 3째자리 까지 구하라**
```

In [87]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df = df.sort_values(['CRIM'],ascending=False).reset_index(drop=True)
df.loc[:9,'CRIM'] = df.loc[:9,'CRIM'].min()
df = df[df['AGE'] >= 80]
# ---------------------------------------------------
df2 = df.copy()
df2['RM'] = df2['RM'].fillna(df2['RM'].median())
a = df2['RM'].std()
b = df['RM'].std()
print(round(abs(a-b),3))

0.013

```{admonition} 1-3
**주어진 Dataset의 DIS 평균으로 부터 1.5 * 표준편차를 벗어나는 영역을 이상치라고 판단하고     
DIS 컬럼의 이상치들의 합을 구하여라.**
```

In [30]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')

st = df['DIS'].std()
m = df['DIS'].mean()
a = m + 1.5*st
b = m - 1.5*st
df1 = df.copy()
df2 = df.copy()

df1 = df1[df1['DIS'] > a]
c = df1['DIS'].sum()
df2 = df2[df2['DIS'] < b]
d = df2['DIS'].sum()
print(c+d)

404.4101

# 작업 2유형

```{attention}  
데이터 설명 : e-commerce 배송의 정시 도착여부 (1: 정시배송 0 : 정시미배송)    
x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv    
y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv  
x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv    
x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_test.csv    
데이터 출처 :https://www.kaggle.com/datasets/prachi13/customer-analytics (참고, 데이터 수정)       

**x_train 데이터로 학습한 모델을 x_test에 적용하여 예측한 결과를 제출하라. 평가 지표는 f1_score이다.**
```

In [31]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

In [43]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")

# 1. 데이터 탐색
# print(x_train.info())
# print(x_test.info())
# print(y_train.info())

# 2. 데이터 전처리
x_train_drop = x_train.drop(['ID'],axis=1)
x_test_drop = x_test.drop(['ID'],axis=1)
y = y_train['Reached.on.Time_Y.N']

x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)
x_test_dummies = x_test_dummies[x_train_dummies.columns]

# 3. 모델링
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

x_train, x_val, y_train, y_val = train_test_split(x_train_dummies,y,stratify=y,random_state=42,test_size=0.2)
rf = RandomForestClassifier(random_state=23)
rf.fit(x_train,y_train)

# 4. 성능확인
y_pred = rf.predict(x_val)
acc = accuracy_score(y_val,y_pred)
print(acc)

# 5. 제출
y_result = rf.predict(x_test_dummies)
pd.DataFrame({'result':y_result}).to_csv('007002940.csv',index=False)

0.6856060606060606

# 작업 3유형

```{attention} 
어느 호수에서 잡은 물고기 122마리 길이 데이터(자체제작)
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv**
```

In [45]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df.head(5)

     fish   height
0  fish_1  33.74cm
1  fish_2  31.64cm
2  fish_3  27.49cm
3  fish_4  31.43cm
4  fish_5  27.56cm

```{admonition} 3-1-a
**122마리의 height 평균값을 m(미터) 단위로 소숫점 이하 5자리까지 실수 값만 출력하라**
```

In [62]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df['height'] = df['height'].str.replace('cm','').astype('float')
# df.info()
a = (round(df['height'].mean()/100,5))
print(a)

0.29951

```{admonition} 3-1-b
**모집단의 평균 길이가 30cm 인지 확인하려 일표본 t 검정을 시행하여 확인하려한다. 검정통계량을 소숫점 이하 3째자리까지 구하여라**
```

In [63]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df['height'] = df['height'].str.replace('cm','').astype('float')
import scipy.stats as stats
from scipy.stats import shapiro

stat, pval = stats.ttest_1samp(df['height'],popmean=30,alternative='two-sided')
print(stat, pval)

-0.21650825215238356 0.8289561932476027

```{admonition} 3-1-c
**위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 이하 3째자리), 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)**
```

```{attention} 
조사결과 70%의 성인 남성이 3년 동안에 적어도 1번 치과를 찾는다고 할때, 21명의 성인 남성이 임의로 추출되었다고 하자. 
```

```{admonition} 3-2 - a
**21명 중 16명 미만이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)**
```

In [67]:
from scipy.stats import binom
n = 21
p = 0.7
k = 16
a = binom.cdf(k-1,n,p)
print(a)

0.6372880857234826

```{admonition} 3-2 - b
**적어도 19명이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)**
```

In [68]:
n = 21
p = 0.7
k = 19
a = 1-binom.cdf(k-1,n,p)
print(a)

0.027129370541188025