# 5회 기출 변형

In [112]:
import pandas as pd
import numpy as np

# 작업 1유형

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1.csv**
종량제 봉투 가격 데이터 : https://www.data.go.kr/data/15025538/standard.do
```

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
df.head(5)

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

```{admonition} 1-1
**20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후, 각 row별로 20L가격과 5L가격의 차이를 '차이가격' 이라 부른다고 하자. 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 소숫점 이하 1자리까지 구하여라**
```

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')

df = df[df['20L가격']!=0]
df = df[df['5L가격']!=0]
df['차이가격'] = df['20L가격']-df['5L가격']
df = df.groupby(['시도명'])['차이가격'].mean()
df
print(619)

619

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2.csv**
성인 체중 및 키 데이터 : 자체 제작
```

In [11]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df.head(5)

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

```{admonition} 1-2
**BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다. 초고도 비만은 BMI 25이상 , 고도 비반은 BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만으로 정의 된다. 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?**
```

In [21]:
df['bmi'] = df['weight(kg)']/(df['height(cm)']*df['height(cm)'])*10000
df1 = df.copy()
df2 = df.copy()

df1 = df1[df1['bmi']>=25]
a = len(df1)

df2 = df2[df2['bmi']<18.5]
b = len(df2)
print(a+b)

8998

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2.csv**
년도별 서울 각 구의 초,중,고 전출 전입 인원 : https://data.seoul.go.kr/dataList/10729/S/2/datasetView.do & 후처리
```

In [22]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

```{admonition} 1-3
**순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다. 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라**
```

In [91]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df['순유'] = (df['초등학교_전입_도내']+df['초등학교_전입_도외']+df['중학교_전입_도내']+df['중학교_전입_도외']+df['고등학교_전입_도내']+df['고등학교_전입_도외'])-(df['초등학교_전출_도내']+df['초등학교_전출_도외']+df['중학교_전출_도내']+df['중학교_전출_도외']+df['고등학교_전출_도내']+df['고등학교_전출_도외'])
ct = pd.crosstab(index = df['지역'],columns = df['년도'], values = df['순유'],aggfunc=sum)
ct.loc['지역별합',:] = ct.sum()
# ct
df1 = df.copy()
df1 = df1.groupby(['지역'])['순유'].sum()
print(df1)
# ct
# print(2225,13831)

지역
강남구     13831
강동구      2096
강북구     -1789
강서구     -4807
관악구     -6556
광진구     -1413
구로구     -6866
금천구     -3065
노원구      -719
도봉구     -3618
동대문구    -3323
동작구     -3686
마포구     -3029
서대문구       30
서초구      4040
성동구     -4717
성북구     -4590
송파구       232
양천구      5835
영등포구    -5106
용산구     -2272
은평구     -3668
종로구      -430
중구      -1972
중랑구     -4158
Name: 순유, dtype: int64

# 작업 2유형

```{attention} 
벤츠 차량 가격 예측 : https://www.kaggle.com/datasets/mysarahmadbhat/mercedes-used-car-listing
**train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv**
**test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv**

예측 변수 price, test.csv에 대해 ID별로 price 값을 예측하여 제출, 제출 데이터 컬럼은 ID와 price 두개만 존재해야함. 평가지표는 rmse
```

In [60]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv')

display(train.head(2))
test.head(2)

,ID,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,10170,A Class,2012,11940,Automatic,46000,Diesel,30,64.2,2.1
1,9551,CL Class,2020,38624,Semi-Auto,19,Petrol,150,36.7,2.0

   ID      model  year transmission  mileage fuelType  tax   mpg  engineSize
0   0        SLK  2005    Automatic    63000   Petrol  325  32.1         1.8
1   2   SL CLASS  2016    Automatic     6200   Petrol  555  28.0         5.5

In [114]:
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv')
# 1. 데이터 탐색
# print(train.info())
# print(test.info())

# 2. 데이터 전처리
iid = test['ID']
x_train = train.drop(['ID','price'],axis=1)
x_test = test.drop(['ID'],axis=1)
y = train['price']
# print(x_test)
# print(x_train)
x_train_dummies = pd.get_dummies(x_train)
x_test_dummies = pd.get_dummies(x_test)
x_test_dummies = x_test_dummies.reindex(columns = x_train_dummies.columns, fill_value=0)
# print(x_train_dummies)
# print(x_test_dummies)
# 3. 모델링
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

x_train, x_val, y_train, y_val = train_test_split(x_train_dummies,y)
rf = RandomForestRegressor()
rf.fit(x_train,y_train)

# 4. 성능확인
from sklearn.metrics import r2_score

y_pred = rf.predict(x_val)
r2 = r2_score(y_val,y_pred)
print(r2)

# 5.제출
y_result = rf.predict(x_test_dummies)
pd.DataFrame({'ID':iid, 'price':y_result}).to_csv('007002940.csv',index=False)

0.954693361906899

# 작업 3유형

```{attention} 
어느 학교에서 추출한 55명 학생들의 키 정보이다.  
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv**
**이 학생들의 키의 95% 신뢰구간을 구하고자 한다.**
```

In [73]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df.head()

       ID  height
0  user_1  164.57
1  user_2  174.99
2  user_3  171.41
3  user_4  162.47
4  user_5  167.11

```{admonition} 3-1-a
**55명 학생들의 키에 대한 표본 평균을 구하여라(반올림하여 소숫점 3째자리까지**
```

In [75]:
print(round(df['height'].mean(),3))

169.937

```{admonition} 3-1-b
**t분포 양쪽 꼬리에서의 t 값을 구하여라 (반올림하여 소수4째자리까지)**
```

In [77]:
import scipy.stats as stats
df['height'].summary()

AttributeError: 'Series' object has no attribute 'summary'

```{admonition} 3-1-c
**95% 신뢰구간을 구하여라(print(lower,upper) 방식으로 출력, 각각의 값은 소숫점 이하 3째자리까지)**
```

```{attention} 
A,B,C 세 공장에서 생산한 동일한 제품의 길이 데이터 이다.
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv**
**공장간의 제품 길이 차이가 유의미한지 확인 하려한다.**
```

In [78]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df.head()

  ID      value
0  A  84.179434
1  A  93.971003
2  A  62.140957
3  A  72.911723
4  A  79.252747

```{admonition} 3-1-a
**3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 검정 통계량을 반올림하여 소숫점 이하 3자리까지 구하여라**
```

In [118]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')

import scipy.stats as stats
from scipy.stats import shapiro
a = df[df['ID']=='A']['value'].values
b = df[df['ID']=='B']['value'].values
c = df[df['ID']=='C']['value'].values

stat, pval = stats.kruskal(a,b,c)
print(stat, pval)

6.52129032258064 0.038363639296696686

```{admonition} 3-1-b
**3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 p-value를 반올림하여 소숫점 이하 3자리까지 구하여라. 귀무가설과 대립가설중 0.05 유의수준에서 유의한 가설을 출력하라**
```