In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("mtcars.csv")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [10]:
# 문제1
# mpg 변수의 제 1사분위수를 구하고 정수값으로 출력하시오.
df = pd.read_csv("mtcars.csv")

Q1 = df['mpg'].quantile(0.25)
print(round(Q1))

15

In [12]:
# 문제2(틀)
# mpg값이 19이상 21이하인 데이터의 수를 구하시오.
df = pd.read_csv("mtcars.csv")

cond1 = (df['mpg']>=19)
cond2 = (df['mpg']<=21)
print(len(df[cond1&cond2]))

5

In [13]:
# 문제3
# hp변수의 IQR 값을 구하시오.
df = pd.read_csv("mtcars.csv")

Q1 = df['hp'].quantile(0.25)
Q3 = df['hp'].quantile(0.75)
print(Q3-Q1)

83.5

In [16]:
# 문제4 (틀)
# wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")

df = df.sort_values('wt',ascending=False)
a = sum(df['wt'].head(10))
print(round(a))

42

In [22]:
# 문제5 (틀)
# 전체 자동차에서 cyl가 6인 비율이 얼마인지 소수점 첫째자리까지 출력하시오.
df = pd.read_csv("mtcars.csv")

a = len(df)
b = len(df[df['cyl']==6])
print(round(b/a,1))

0.2

In [24]:
# 문제6
# 첫번째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오
df = pd.read_csv("mtcars.csv")

a = df['mpg'].head(10)
a1 = a.mean()
print(round(a1))

20

In [26]:
# 문제7 (틀)
# 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.
df = pd.read_csv("mtcars.csv")

p50 = int(len(df)*0.5)
df = df[:p50]
print(df['wt'].median())

3.44

In [29]:
# 문제8 (틀)
# 결측값이 있는 데이터의 수를 구하시오.
df = pd.DataFrame({
    '날짜':['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20230505','20230511'],
    '제품':['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수':[3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익':[300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

a = df.isnull().sum()
print(sum(a))

5

In [37]:
# 문제9 (틀)
# '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고
# 판매수의 평균값을 반올림하여 정수로 출력하시오.
df = pd.DataFrame({
    '날짜':['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20230505','20230511'],
    '제품':['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수':[3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익':[300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

df['판매수'] = df['판매수'].fillna(df['판매수'].median())
print(round(df['판매수'].mean()))

15

In [46]:
# 문제10 (틀)
# 판매수 컬럼에 결측치가 있는 행을 제거하고,
# 첫번째 행부터 순서대로 50%까지의 데이터를 추출하여
# 판매수 변수의 Q1(제1사분위수)값을 반올림하여 정수로 출력하시오.

df = pd.DataFrame({
    '날짜':['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20230505','20230511'],
    '제품':['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수':[3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익':[300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

df['판매수'] = df['판매수'].dropna()
p50 = int(len(df)*0.5)
df = df[:p50]
a = df['판매수'].quantile(0.25)
print(round(a))

5

In [54]:
# 문제11 (틀)
# cyl가 4인 자동차가 6인 자동차 그룹의 mpg 평균값 차이를 
# 절대적으로 반올림하여 정수로 출력하시오
df = pd.read_csv("mtcars.csv")

c4 = (df['cyl']==4)
c6 = (df['cyl']==6)

mpg4 = df[c4]['mpg'].mean()
mpg6 = df[c6]['mpg'].mean()

print(round(abs(mpg4-mpg6)))

7

In [60]:
# 문제12 (틀)
# hp 변수에 대해 데이터표준화(Z-score)를 진행하고 이상치의 수를 구하시오.
# (단, 이상치는 Z값이 1.5를 초과하거나 -1.5 미만인 값이다.)
df = pd.read_csv("mtcars.csv")

std = df['hp'].std()
me = df['hp'].mean()
df['z_s'] = (df['hp']-me)/std

cond1 = (df['z_s']> 1.5)
cond2 = (df['z_s']< -1.5)

print(len(df[cond1])+len(df[cond2]))

2

In [66]:
# 문제13 (틀)
# mpg 컬럼을 최소최대 Scaling을 진행한 후 0.7보다 큰 값을 가지는 레코드 수를 구하라.
df = pd.read_csv("mtcars.csv")

u = df['mpg'].max()
d = df['mpg'].min()
df['mpg'] = (df['mpg']-d)/(u-d)
cond1 = (df['mpg']>0.7)
a = len(df[cond1])
print(a)

5

In [68]:
# 문제14 (틀)
# wt 컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오.
df = pd.read_csv("mtcars.csv")

Q1 = df['wt'].quantile(0.25)
Q3 = df['wt'].quantile(0.75)
iqr = Q3-Q1
u = Q3 + 1.5*iqr
d = Q1 - 1.5*iqr
cond1 = (df['wt'] > u)
cond2 = (df['wt'] < d)
a = len(df[cond1]) + len(df[cond2])
print(a)

3

In [82]:
# 문제15 (틀)
# 판매수 컬럼의 결측치를 최소값으로 대체하고
# 결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대적으로 반올림하여 정수로 출력하시오

df = pd.DataFrame({
    '날짜':['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20230505','20230511'],
    '제품':['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수':[3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익':[300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

df2 = df.copy()
m = df['판매수'].min()
df2['판매수'] = df2['판매수'].fillna(m)
a = df['판매수'].mean()
b = df2['판매수'].mean()
print(round(abs(a-b)))

2

In [93]:
# 문제16
# vs변수가 0이 아닌 차량 중에 mpg값이 가장 큰 차량의 hp값을 출력하시오.
df = pd.read_csv("mtcars.csv")
df['vs'] = (df['vs']!=0)
df = df.sort_values('mpg',ascending=False)
# df
a = df['hp'].iloc[0]
print(a)
# df

65

In [96]:
# 문제17
# gear 변수값이 3, 4인 두 그룹의 hp 표준편차값의 차이를 절대값으로 반올림하여 소수점 첫째자리까지 출력하시오
df = pd.read_csv("mtcars.csv")

g3 = (df['gear']==3)
g4 = (df['gear']==4)

h3 = df[g3]['hp'].std()
h4 = df[g4]['hp'].std()
a=h3-h4
print(round(abs(a),1))

21.8

In [99]:
# 문제18 (틀)
# gear변수의 값별로 그룹화하여 mpg평균값을 산출하고 평균값이 높은 그룹의 mpg 제3사분위수 값을 구하시오
df = pd.read_csv("mtcars.csv")

df = df.loc[:,['gear','mpg']]
print(df.groupby('gear').mean())

a = (df['gear']==4)
b = df[a]['mpg'].quantile(0.75)
print(b)

            mpg
gear
3     16.106667
4     24.533333
5     21.380000
28.075

In [112]:
# 문제19 (틀)
# hp 항목의 상위 7번째 값으로 상위 7개 값을 변환한 후, 
# hp가 150 이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하시오
df = pd.read_csv("mtcars.csv")

df = df.sort_values('hp',ascending=False)
df = df.reset_index(drop=True)

a = df['hp'].loc[6]
df['hp']=np.where(df['hp']>=a, a, df['hp'])
df
a = (df['hp']>=150)
df = df[a]
print(round(df['hp'].mean()))

187

In [117]:
# 문제20 (틀)
# car변수에 Merc 문구가 포함된 자동차의 mpg 평균값을 반올림하여 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")

df = df[df['car'].str.contains("Merc")]
print(round(df['mpg'].mean()))

19

In [122]:
# 문제21 (틀)
# 22년 1분기 매출액을 구하시오.
# (매출액 = 판매수*개당수익)
df = pd.DataFrame({
    '날짜': ['20220103','20220105','20230105','20230127','20220203','20220205','20230223','20230223','20230312','20230422','20220505','20230511'],
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})
df['날짜'] = pd.to_datetime(df['날짜'])

df['year'] = df['날짜'].dt.year
df['month'] = df['날짜'].dt.month
df['day'] = df['날짜'].dt.day

df['매출액'] = df['판매수']*df['개당수익']
df = df[df['year']==2022]

a = df[df['month']==1]['매출액'].sum()
b = df[df['month']==2]['매출액'].sum()
c = df[df['month']==3]['매출액'].sum()

print(a+b+c)

11900

In [5]:
# 문제21 (두번째 방법)
df = pd.DataFrame({
    '날짜': ['20220103','20220105','20230105','20230127','20220203','20220205','20230223','20230223','20230312','20230422','20220505','20230511'],
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

df['날짜'] = pd.to_datetime(df['날짜'])
df['매출액'] = df['판매수']*df['개당수익']
df_a = df[df['날짜'].between('2022-01-01','2022-03-31')]
print(df_a['매출액'].sum())

11900

In [6]:
# 문제22
# 22년과 23년의 총 매출액 차이를 절대값으로 구하시오.
df = pd.DataFrame({
    '날짜': ['20220103','20220105','20230105','20230127','20220203','20220205','20230223','20230223','20230312','20230422','20220505','20230511'],
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

df['날짜'] = pd.to_datetime(df['날짜'])
df['매출액'] = df['판매수']*df['개당수익']

df['year'] = df['날짜'].dt.year

a = (df['year']==2022)
b = (df['year']==2023)

c = df[a]['매출액'].sum()
d = df[b]['매출액'].sum()

print(abs(c-d))

48600

In [24]:
# 문제23 (틀)
# 23년 총 매출액이 큰 제품의 23년 판매수를 구하시오.
df = pd.DataFrame({
    '날짜': ['20220103','20220105','20230105','20230127','20220203','20220205','20230223','20230223','20230312','20230422','20220505','20230511'],
    '제품': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

df['날짜'] = pd.to_datetime(df['날짜'])

df['매출액'] = df['판매수']*df['개당수익']
df['year'] = df['날짜'].dt.year

df = df[df['year']==2023]
df = df.sort_values('매출액',ascending=False)
a = df[df['제품']=='A']['판매수'].sum()
print(a)

80

In [25]:
# 문제24
# 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력하시오.
df = pd.DataFrame({
    '날짜': ['20220103','20220105','20230105','20230127','20220203','20220205','20230223','20230223','20230312','20230422','20220505','20230511'],
    '제품': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

df['매출액'] = df['판매수']*df['개당수익']

cond1 = (df['매출액'] > 4000)
cond2 = (df['매출액'] < 10000)

print(len(df[cond1 & cond2]))

4

In [31]:
# 문제25 (틀)
# 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오.
df = pd.DataFrame({
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600]})
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods=7)
df['time']=time
df=df[['time','물품','판매수','개당수익']]

df['time'] = pd.to_datetime(df['time'])
df = df.set_index('time',drop=False)
df = df[df['time'].between('2023-09-24 16:00:00','2023-09-24 22:00:00')]
# df
print(df['판매수'].sum())

25

In [34]:
# 문제26
# 9월 25일 00:00~12:00까지의 B물품의 매출액 총합을 구하시오.
df = pd.DataFrame({
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600]})
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods=7)
df['time']=time
df=df[['time','물품','판매수','개당수익']]

df['매출액'] = df['판매수']*df['개당수익']
df['time'] = pd.to_datetime(df['time'])
df = df[df['time'].between('2023-09-25 00:00:00','2023-09-25 12:00:00')]
df = df[df['물품']=='B']
print(df['매출액'].sum())

26500

In [36]:
# 문제27
# 9월 24일 12:00~24:00 까지의 A물품의 매출액 총합을 구하시오.
df = pd.DataFrame({
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600]})
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods=7)
df['time']=time
df=df[['time','물품','판매수','개당수익']]

df['time'] = pd.to_datetime(df['time'])
df['매출액'] = df['판매수']*df['개당수익']

df = df[df['time'].between('2023-09-24 12:00:00','2023-09-24 23:59:59')]
df = df[df['물품']=='A']
print(df['매출액'].sum())

10000