In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("mtcars.csv")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [2]:
df = pd.read_csv("mtcars.csv")

In [3]:
# 문제1
# mpg 변수의 제 1사분위수를 구하고 정수값으로 출력하시오.
df = pd.read_csv("mtcars.csv")

In [4]:
# 문제2
# mpg값이 19이상 21이하인 데이터의 수를 구하시오.
df = pd.read_csv("mtcars.csv")

In [5]:
# 문제3
# hp변수의 IQR 값을 구하시오.
df = pd.read_csv("mtcars.csv")

In [6]:
# 문제4
# wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")

In [7]:
# 문제5
# 전체 자동차에서 cyl가 6인 비율이 얼마인지 소수점 첫째자리까지 출력하시오.
df = pd.read_csv("mtcars.csv")

In [8]:
# 문제6
# 첫번째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오
df = pd.read_csv("mtcars.csv")

In [9]:
# 문제7
# 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.
df = pd.read_csv("mtcars.csv")

In [10]:
# 문제8
# 결측값이 있는 데이터의 수를 구하시오.
df = pd.DataFrame({
    '날짜':['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20230505','20230511'],
    '제품':['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수':[3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익':[300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [11]:
# 문제9
# '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고
# 판매수의 평균값을 반올림하여 정수로 출력하시오.

In [12]:
# 문제10
# 판매수 컬럼에 결측치가 있는 행을 제거하고,
# 첫번째 행부터 순서대로 50%까지의 데이터를 추출하여
# 판매수 변수의 Q1(제1사분위수)값을 반올림하여 정수로 출력하시오.

df = pd.DataFrame({
    '날짜':['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20230505','20230511'],
    '제품':['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수':[3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익':[300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [13]:
# 문제11
# cyl가 4인 자동차가 6인 자동차 그룹의 mpg 평균값 차이를 
# 절대적으로 반올림하여 정수로 출력하시오
df = pd.read_csv("mtcars.csv")

In [14]:
# 문제12
# hp 변수에 대해 데이터표준화(Z-score)를 진행하고 이상치의 수를 구하시오.
# (단, 이상치는 Z값이 1.5를 초과하거나 -1.5 미만인 값이다.)
df = pd.read_csv("mtcars.csv")

In [15]:
# 문제13
# mpg 컬럼을 최소최대 Scaling을 진행한 후 0.7보다 큰 값을 가지는 레코드 수를 구하라.
df = pd.read_csv("mtcars.csv")

In [16]:
# 문제14
# wt 컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오.
df = pd.read_csv("mtcars.csv")

In [17]:
# 문제15
# 판매수 컬럼의 결측치를 최소값으로 대체하고
# 결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대적으로 반올림하여 정수로 출력하시오

df = pd.DataFrame({
    '날짜':['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20230505','20230511'],
    '제품':['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수':[3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익':[300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [18]:
# 문제16
# vs변수가 0이 아닌 차량 중에 mpg값이 가장 큰 차량의 hp값을 출력하시오.
df = pd.read_csv("mtcars.csv")

In [19]:
# 문제17
# gear 변수값이 3, 4인 두 그룹의 hp 표준편차값의 차이를 절대값으로 반올림하여 소수점 첫째자리까지 출력하시오
df = pd.read_csv("mtcars.csv")

In [20]:
# 문제18
# gear변수의 값별로 그룹화하여 mpg평균값을 산출하고 평균값이 높은 그룹의 mpg 제3사분위수 값을 구하시오
df = pd.read_csv("mtcars.csv")

In [21]:
# 문제19
# hp 항목의 상위 7번째 값으로 상위 7개 값을 변환한 후, 
# hp가 150 이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하시오
df = pd.read_csv("mtcars.csv")

In [22]:
# 문제20
# car변수에 Merc 문구가 포함된 자동차의 mpg 평균값을 반올림하여 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")

In [23]:
# 문제21
# 22년 1분기 매출액을 구하시오.
# (매출액 = 판매수*개당수익)
df = pd.DataFrame({
    '날짜': ['20220103','20220105','20230105','20230127','20220203','20220205','20230223','20230223','20230312','20230422','20220505','20230511'],
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

In [24]:
# 문제21 (두번째 방법)
df = pd.DataFrame({
    '날짜': ['20220103','20220105','20230105','20230127','20220203','20220205','20230223','20230223','20230312','20230422','20220505','20230511'],
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

In [25]:
# 문제21 (세번째 방법)
df = pd.DataFrame({
    '날짜': ['20220103','20220105','20230105','20230127','20220203','20220205','20230223','20230223','20230312','20230422','20220505','20230511'],
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

In [26]:
# 문제22
# 22년과 23년의 총 매출액 차이를 절대값으로 구하시오.
df = pd.DataFrame({
    '날짜': ['20220103','20220105','20230105','20230127','20220203','20220205','20230223','20230223','20230312','20230422','20220505','20230511'],
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

In [27]:
# 문제23
# 23년 총 매출액이 큰 제품의 23년 판매수를 구하시오.
df = pd.DataFrame({
    '날짜': ['20220103','20220105','20230105','20230127','20220203','20220205','20230223','20230223','20230312','20230422','20220505','20230511'],
    '제품': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

In [28]:
# 문제24
# 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력하시오.
df = pd.DataFrame({
    '날짜': ['20220103','20220105','20230105','20230127','20220203','20220205','20230223','20230223','20230312','20230422','20220505','20230511'],
    '제품': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

In [29]:
# 문제25
# 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오.
df = pd.DataFrame({
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600]})
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods=7)
df['time']=time
df=df[['time','물품','판매수','개당수익']]

In [30]:
# 문제26
# 9월 25일 00:00~12:00까지의 B물품의 매출액 총합을 구하시오.
df = pd.DataFrame({
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600]})
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods=7)
df['time']=time
df=df[['time','물품','판매수','개당수익']]

In [31]:
# 문제27
# 9월 24일 12:00~24:00 까지의 A물품의 매출액 총합을 구하시오.
df = pd.DataFrame({
    '물품': ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600]})
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods=7)
df['time']=time
df=df[['time','물품','판매수','개당수익']]