In [3]:
import pandas as pd
import numpy as np

# 모평균 검정(모집단 1개)

In [4]:
# 데이터셋 mpg평균이 20과 같다고 할 수 있는지?
df = pd.read_csv("mtcars.csv")

In [7]:
import scipy.stats as stats
from scipy.stats import shapiro

# 정규성
stat, pval = stats.shapiro(df['mpg'])
print(stat,pval)

# 만족
stat, pval = stats.ttest_1samp(df['mpg'],popmean=20,alternative='two-sided')
print(stat,pval)

# 불만족
stat, pval = stats.wilcoxon(df['mpg']-20,alternative='two-sided')
print(stat,pval)

0.9475648403167725 0.1228824257850647
0.08506003568133688 0.9327606409093872
249.0 0.78912592260167

# 모평균 검정(모집단 2개-쌍체)

In [9]:
# 혈압약 먹기 전,후의 차이
df = pd.DataFrame({
    'before': [120, 135, 122, 124, 135, 122, 145, 160, 155, 142, 144, 135, 167],
    'after': [110, 132, 123, 119, 123, 115, 140, 162, 142, 138, 135, 142, 160]})

In [10]:
import scipy.stats as stats
from scipy.stats import shapiro

# 정규성
stat, pval = stats.shapiro(df['after']-df['before'])
print(stat, pval)

# 만족
stat, pval = stats.ttest_rel(df['after'],df['before'],alternative='two-sided')
print(stat,pval)

# 불만족
stat,pval = stats.wilcoxon(df['after']-df['before'],alternative='two-sided')
print(stat,pval)

0.9588785171508789 0.7362699508666992
-3.13822957230424 0.008560014166295203
11.0 0.013427734375

# 모평균 검정(모집단 2개-2sample)

In [13]:
# 두 그룹의 혈압평균이 다르다고 할 수 있는지?
df = pd.DataFrame({
    'A': [120, 135, 122, 124, 135, 122, 145, 160, 155, 142, 144, 135, 167],
    'B': [110, 132, 123, 119, 123, 115, 140, 162, 142, 138, 135, 142, 160]})

In [21]:
import scipy.stats as stats
from scipy.stats import shapiro

# 정규성
statA, pvalA = stats.shapiro(df['A'])
statB, pvalB = stats.shapiro(df['B'])
print(statA,pvalA)
print(statB,pvalB)

# 등분산성
stat, pval = stats.bartlett(df['A'],df['B'])
print(stat,pval)

# 만족
stat, pval = stats.ttest_ind(df['A'],df['B'],equal_var=True,alternative='two-sided')
print(stat,pval)

# 불만족
stat, pval = stats.ranksums(df['A'],df['B'],alternative='two-sided')
print(stat,pval)

0.9314376711845398 0.35585272312164307
0.9498201012611389 0.5955665707588196
0.027930756790756274 0.867271716287991
0.8191722818556323 0.4207486213941666
0.8461538461538461 0.39746692542259277

# 모평균 검정(모집단 3개)

In [24]:
# 세 그룹의 성적 평균이 같다고 할 수 있는지?
df = pd.DataFrame({
    'A': [120, 135, 122, 124, 135, 122, 145, 160, 155, 142, 144, 135, 167],
    'B': [110, 132, 123, 119, 123, 115, 140, 162, 142, 138, 135, 142, 160],
    'C': [130, 120, 115, 122, 133, 144, 122, 120, 110, 134, 125, 122, 122]})

In [27]:
import scipy.stats as stats
from scipy.stats import shapiro

# 정규성
print(shapiro(df['A']))
print(shapiro(df['B']))
print(shapiro(df['C']))

# 등분산성
stat, pval = stats.bartlett(df['A'],df['B'],df['C'])
print(stat,pval)
# 만족
stat, pval = stats.f_oneway(df['A'],df['B'],df['C'])
print(stat,pval)
# 불만족
stat, pval = stats.kruskal(df['A'],df['B'],df['C'])
print(stat,pval)

ShapiroResult(statistic=0.9314376711845398, pvalue=0.35585272312164307)
ShapiroResult(statistic=0.9498201012611389, pvalue=0.5955665707588196)
ShapiroResult(statistic=0.9396706223487854, pvalue=0.45265132188796997)
4.222248448848066 0.12110174433684852
3.6970511827172867 0.0346491232068625
6.896997321554428 0.03179333314266727

# 카이제곱 검정

In [50]:
# 동일한 비욜로 들어있다고 할 수 있는지?(각 범주에 속할 확률이 같은지?)
row1 = [30, 20, 15, 35]
df = pd.DataFrame([row1], columns=['A','B','C','D'])

df.loc[0]*0.25,df.loc[0]*0.25,df.loc[0]*0.25,df.loc[0]*0.25

100

In [52]:
import scipy.stats as stats
from scipy.stats import chisquare

f_obs = df.loc[0]
f_exp = [df.loc[0].sum()*0.25,df.loc[0].sum()*0.25,df.loc[0].sum()*0.25,df.loc[0].sum()*0.25]

stat, pval = chisquare(f_obs=f_obs,f_exp=f_exp)
print(stat,pval)

10.0 0.01856613546304325

In [53]:
# 차이가 있는지?(두 개의 범주형 변수가 서로 독립인지?)
row1, row2 = [200,190,250], [220,250,300]
df = pd.DataFrame([row1, row2], columns=['딸기','초코','바닐라'], index=['10대','20대'])
df

      딸기   초코  바닐라
10대  200  190  250
20대  220  250  300

In [54]:
import scipy.stats as stats
from scipy.stats import chi2_contingency
stat, pval, dof, exp = chi2_contingency(df)
print(stat, pval, dof, exp)

1.708360126075226 0.4256320394874311 2 [[190.63829787 199.71631206 249.64539007]
 [229.36170213 240.28368794 300.35460993]]

In [56]:
# 교차표 형태가 아닐 경우
df = pd.DataFrame({
    '아이스크림' : ['딸기','초코','바닐라','딸기','초코','바닐라'],
    '연령' : ['10대','10대','10대','20대','20대','20대'],
    '인원' : [200,190,250,220,250,300]
})
df

  아이스크림   연령   인원
0    딸기  10대  200
1    초코  10대  190
2   바닐라  10대  250
3    딸기  20대  220
4    초코  20대  250
5   바닐라  20대  300

In [57]:
df = pd.crosstab(index = df['연령'],columns = df['아이스크림'],values = df['인원'],aggfunc=sum)
df

아이스크림   딸기  바닐라   초코
연령
10대    200  250  190
20대    220  300  250

# 다중회귀분석

In [66]:
from sklearn.datasets import load_diabetes

diabetes = load_diabetes()
x = pd.DataFrame(diabetes.data, columns = diabetes.feature_names)
y = pd.DataFrame(diabetes.target)
y.columns = ['target']
x = x[['age','sex','bmi']]
y = y['target']

In [69]:
import statsmodels.api as sm

x = sm.add_constant(x)
model = sm.OLS(y,x).fit()
summary = model.summary()
print(summary)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.351
Model:                            OLS   Adj. R-squared:                  0.346
Method:                 Least Squares   F-statistic:                     78.94
Date:                Thu, 30 Nov 2023   Prob (F-statistic):           7.77e-41
Time:                        22:14:53   Log-Likelihood:                -2451.6
No. Observations:                 442   AIC:                             4911.
Df Residuals:                     438   BIC:                             4928.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        152.1335      2.964     51.321      0.000     146.307     157.960
age          138.9039     64.254      2.162      0.031      12.618     265.189
sex          -36.1353     63.391     -0.570      0.569    -160.724      88.453
bmi          926.9120     63.525     14.591      0.000     802.061    1051.763
==============================================================================
Omnibus:                       14.687   Durbin-Watson:                   1.851
Prob(Omnibus):                  0.001   Jarque-Bera (JB):                8.290
Skew:                           0.150   Prob(JB):                       0.0158
Kurtosis:                       2.400   Cond. No.                         23.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# 상관분석

In [71]:
from sklearn.datasets import load_diabetes

diabetes = load_diabetes()
x = pd.DataFrame(diabetes.data, columns = diabetes.feature_names)
y = pd.DataFrame(diabetes.target)
y.columns = ['target']

x = x['bmi']
y = y['target']

In [72]:
from scipy.stats import pearsonr
r, pval = pearsonr(x,y)
print(r, pval) # r : 상관계수

# 통계량
n = len(x)
stat = r*((n-2)**0.5)/(1-r**2)**0.5
print(stat)

0.5864501344746883 3.4660064451677685e-42
15.187289570365293

# 로지스틱 회귀분석

In [73]:
import seaborn as sns
df = sns.load_dataset('titanic')
df = df[['survived','sex','sibsp','fare']]
df

     survived     sex  sibsp     fare
0           0    male      1   7.2500
1           1  female      1  71.2833
2           1  female      0   7.9250
3           1  female      1  53.1000
4           0    male      0   8.0500
..        ...     ...    ...      ...
886         0    male      0  13.0000
887         1  female      0  30.0000
888         0  female      1  23.4500
889         1    male      0  30.0000
890         0    male      0   7.7500

[891 rows x 4 columns]

In [74]:
# 문자형 데이터타입 숫자형으로 변경
df['sex'] = df['sex'].map({'male':1,
                          'female':0})
x = df.drop(['survived'],axis=1)
y = df['survived']

# 모델링
import statsmodels.api as sm

x = sm.add_constant(x)
model = sm.Logit(y,x).fit()
summary = model.summary()
print(summary)

Optimization terminated successfully.
         Current function value: 0.483846
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      887
Method:                           MLE   Df Model:                            3
Date:                Thu, 30 Nov 2023   Pseudo R-squ.:                  0.2734
Time:                        22:23:37   Log-Likelihood:                -431.11
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 5.094e-70
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.8703      0.163      5.352      0.000       0.552       1.189
sex           -2.5668      0.179    -14.321      0.000      -2.918      -2.216
sibsp         -0.4017      0.095     -4.222      0.000      -0.588      -0.215
fare           0.0138      0.003      5.367      0.000       0.009       0.019
==============================================================================