# 모의고사 2회차

In [24]:
import pandas as pd
import numpy as np

## 작업 1유형

```{attention} 
데이터 출처 : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (후처리 작업)       
데이터 설명 : 뇌졸증 발생여부 예측       
dataurl :  https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke/train.csv        
```

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [69]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

```{admonition} Question1
**성별이 Male인 환자들의 age의 평균값은 ?**
```

In [167]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

a = (df['gender']=='Male')
df = df[a]
df['age'] = df['age'].str.replace('*','').astype('int')
df
print(df['age'].mean())
# df.info()

44.68623481781376

```{admonition} Question2
**bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라**
```

In [40]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

df2 = df.copy()
df2['bmi'] = df2['bmi'].dropna()
# df2.info()
a = df2['bmi'].median()
df['bmi'] = df['bmi'].fillna(a)
# df.info()
# a
print(round(df['bmi'].mean(),3))

29.166

```{admonition} Question3
**bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라**
```

In [169]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

df['bmi'] = df['bmi'].fillna(method = 'ffill')
print(round(df['bmi'].mean(),3))

29.188

```{admonition} Question5
**avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라**
```

In [49]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

df['avg_glucose_level'] = np.where(df['avg_glucose_level'] >= 200, 199,df['avg_glucose_level'])
df = df[df['stroke']==1]
# df
print(round(df['avg_glucose_level'].mean(),3))

125.188

## 작업 1유형_다른 데이터

```{attention} 
데이터 출처 : https://www.kaggle.com/abcsds/pokemon (참고, 데이터 수정)     
데이터 설명 : 포켓몬 정보    
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv       
```

In [151]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

```{admonition} Question6
**Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?**
```

In [174]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df2 = df.copy()
df3 = df.copy()
df2 = df2.sort_values('Attack',ascending=False).reset_index(drop=True)[:400]
# df2
df3 = df3.sort_values('Attack',ascending=False).reset_index(drop=True)[400:]
# df3
a = df2['Legendary'].sum() - df3['Legendary'].sum()
print(a)

57

```{admonition} Question7
**Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?**
```

In [178]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

df = df.groupby(['Type 1']).Total.mean().sort_values(ascending=False)
print(df.index[2])

Flying

```{admonition} Question8
**결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라**
```

In [113]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

df = df.dropna()
p60 = int(len(df)*0.6)
df = df.loc[:p60]
print(df['Defense'].quantile(0.25))

50.0

```{admonition} Question9
**Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라**
```

In [179]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

f = (df['Type 1']=='Fire')
w = (df['Type 1']=='Water')
df_f = df[f]
df_fm = df_f['Attack'].mean()
# df_fm
df_w = df[w]
print(sum(df_w['Attack'] >= df_fm))

37

```{admonition} Question10
**각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?**
```

In [186]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

df = df.groupby(['Generation'])[['Speed','Defense']].mean().T.diff().T
df

            Speed    Defense
Generation
1             NaN  -1.722892
2             NaN  11.575472
3             NaN   7.175000
4             NaN   6.793388
5             NaN   4.248485
6             NaN  10.243902

## 작업 2유형

```{attention} 
데이터 출처 : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (후처리 작업)       
데이터 설명 : 뇌졸증 발생여부 예측       
train : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv         
test : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv             
```

In [187]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

display(train.head())
display(test.head())

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
1,36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
2,3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked
3,65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
4,1847,Female,20,0,0,No,Govt_job,Rural,79.53,NaN,never smoked

In [201]:
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

train['age'] = train['age'].str.replace('*','').astype('int')
train['bmi'] = train['bmi'].fillna(train['bmi'].mean())
test['bmi'] = test['bmi'].fillna(test['bmi'].mean())

x_train = train.drop(columns = ['id','stroke'])
x_test = pd.get_dummies(x_train)
y = train['stroke']

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

x_train, x_val, y_train, y_val = train_test_split(x_test, y, stratify = y, random_state=42)
rf = RandomForestClassifier()
rf.fit(x_train,y_train)

y_pred = rf.predict(x_val)
acc = accuracy_score(y_val,y_pred)
# print(acc)

y_result = rf.predict(x_test)
# pd.DataFrame({'result':y_result}).to_csv('007002940.csv',index=False)

In [165]:
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')
# 전처리
train['age'] =train['age'].str.replace('*','').astype('int')

fi = x_train['bmi'].median()
train['bmi'] = x_train['bmi'].fillna(fi)
test['bmi'] = x_test['bmi'].fillna(fi)

x_train = train.drop(['id','stroke'],axis=1)
x_test = pd.get_dummies(x_train)
y = train['stroke']

# print(x_train.info())
# print(x_test.info())
# print(y_train.info())

# x_train_dummies = pd.get_dummies(x_train)
# x_test_dummies = pd.get_dummies(x_test)
# x_test_dummies = x_test_dummies[x_train_dummies.columns]

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

x_train, x_test, y_train, y_test = train_test_split(x_train,y,stratify=y,random_state=42)
rf=RandomForestClassifier()
rf.fit(x_train,y_train)

y_pred = rf.predict(x_test)
acc = accuracy_score(y_val,y_pred)
print(acc)

y_result = rf.predict(x_test)
# pd.DataFrame({'result':y_result}).to_csv('007002940.csv',index=False)

ValueError: could not convert string to float: 'Female'