<a href="https://colab.research.google.com/github/qkfnfj/study/blob/main/%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))

Saving abalone.data to abalone (3).data
User uploaded file "abalone.data" with length 191873 bytes

In [ ]:
column_names = ["sex", "length", "diameter", "height", "whole weight",
                "shucked weight", "viscera weight", "shell weight", "rings"]
data = pd.read_csv("abalone.data", names=column_names)
print("Number of samples: %d" % len(data))
data.head()

Number of samples: 4177

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [ ]:
data.keys()

Index(['sex', 'length', 'diameter', 'height', 'whole weight', 'shucked weight',
       'viscera weight', 'shell weight', 'rings'],
      dtype='object')

In [ ]:
x, y = data[['length','diameter','height','whole weight','shucked weight','viscera weight','shell weight','rings']], data['sex']

In [ ]:
from sklearn.model_selection import train_test_split
train_data, test_data=train_test_split(data,test_size=0.3, random_state=10040)

In [ ]:
X_train=train_data[['length','diameter','height','whole weight','shucked weight','viscera weight','shell weight','rings']]
y_train=train_data[['sex']]
X_test=test_data[['length','diameter','height','whole weight','shucked weight','viscera weight','shell weight','rings']]
y_test=test_data[['sex']]

In [ ]:
X_train.head()

,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,rings
477,0.665,0.540,0.175,1.3470,0.4955,0.2540,0.415,17
3436,0.380,0.275,0.095,0.2505,0.0945,0.0655,0.075,6
230,0.555,0.445,0.135,0.8360,0.3360,0.1625,0.275,13
2289,0.580,0.475,0.155,0.9740,0.4305,0.2300,0.285,10
2143,0.470,0.370,0.105,0.4665,0.2025,0.1015,0.155,10

In [ ]:
y_train_se = (y_train == 'I')
y_test_se = (y_test == 'I')
y_train_se

        sex
477   False
3436   True
230   False
2289  False
2143  False
...     ...
2757   True
1334  False
2613  False
1611  False
223   False

[2923 rows x 1 columns]

In [ ]:
from sklearn.linear_model import SGDClassifier

sgd_clf = SGDClassifier(max_iter = 1000, tol = 1e-3, random_state=10040)
sgd_clf.fit(X_train, y_train_se)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SGDClassifier(random_state=10040)

In [ ]:
X_test.loc[8]

length            0.4750
diameter          0.3700
height            0.1250
whole weight      0.5095
shucked weight    0.2165
viscera weight    0.1125
shell weight      0.1650
rings             9.0000
Name: 8, dtype: float64

In [ ]:
sgd_clf.predict([X_test.loc[8]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SGDClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([ True])

In [ ]:
#정확도
from sklearn.model_selection import cross_val_score

cross_val_score(sgd_clf, X_train, y_train_se, cv = 3, scoring = "accuracy")

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0.82974359, 0.81314168, 0.68275154])

In [ ]:
#정밀도
from sklearn.metrics import precision_score, precision_score, recall_score

precision_score(y_test_se, y_test_pred)

0.6485943775100401

In [ ]:
#재현율
recall_score(y_test_se, y_test_pred)

0.7801932367149759

In [ ]:
#F1 score
from sklearn.metrics import f1_score
f1_score(y_test_se, y_test_pred)

0.7083333333333333

In [ ]:
#정확도, 정밀도, 재현율, F1 score 한꺼번에 출력
A=cross_val_score(sgd_clf, X_train, y_train_se, cv = 3, scoring = "accuracy") #정확도
B=precision_score(y_test_se, y_test_pred) #정밀도
C=recall_score(y_test_se, y_test_pred) #재현율
D=f1_score(y_test_se, y_test_pred) #F1 score
print('accuracy',A,'precision',B,'recall',C,'F1score',D)

accuracy [0.82974359 0.81314168 0.68275154] precision 0.6485943775100401 recall 0.7801932367149759 F1score 0.7083333333333333

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)