# 3회 기출 변형

In [1]:
import pandas as pd
import numpy as np

# 작업 1유형

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv**
캘리포니아 집값 일부 변형 : https://www.kaggle.com/datasets/harrywang/housing?select=housing.csv%29
```

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv')
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

```{admonition} 1-1
**결측치가 하나라도 존재하는 행의 경우 경우 해당 행을 삭제하라. 그후 남은 데이터의 상위 70%에 해당하는 데이터만 남겨둔 후 median_income 컬럼의 1분위수를 반올림하여 소숫점이하 2째자리까지 구하여라**
```

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv')
# print(df.info())
# print(df.isnull().sum())
drop_col=['housing_median_age','total_bedrooms','population','median_income','median_house_value']
df = df.drop(columns=drop_col)
# df
p70 = int(len(df))*0.7
df = df.loc[:p70]
print(round(df['total_rooms'].quantile(0.25),2))
# 문제 오류

1416.75

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv**
년도별 국가의 GDP : https://www.kaggle.com/datasets/tunguz/country-regional-and-world-gdp
```

In [23]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv')
df.head()

  Country Name Country Code  Year      Value
0   Arab World          ARB  1968  2576068.3
1   Arab World          ARB  1969  2843420.4
2   Arab World          ARB  1970  3138550.0
3   Arab World          ARB  1971  3642691.0
4   Arab World          ARB  1972  4331605.7

```{admonition} 1-2
**1990년도는 해당년도 평균 이하 GDP를 가지지만, 2010년도에는 해당년도 평균 이상 GDP를 가지는 국가의 숫자를 구하여라**
```

In [144]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv')
# print(df.info())
df1 = df.copy()
df2 = df.copy()

df1 = df1[df1['Year']==1990]
# df1
m1 = df1['Value'].mean()
df1 = df1[df1['Value']<m1]
# df1
df2 = df2[df2['Year']==2010]
m2 = df2['Value'].mean()
df2 = df2[df2['Value']>m2]

a = len(set(df1['Country Code'])&set(df2['Country Code']))
print(a)

5

```{attention} 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv**
타이타닉 탑승자 생존 데이터 : https://www.kaggle.com/competitions/titanic
```

In [49]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,C123,S

```{admonition} 1-3
**데이터에서 결측치가 가장 많은 컬럼을 출력하라**
```

In [51]:
print(df.isnull().sum())

PassengerId     0
Survived        0
Pclass         55
Name           61
Sex            64
Age            44
SibSp          55
Parch          53
Ticket         34
Fare           69
Cabin          58
Embarked       49
dtype: int64

# 작업 2유형

```{attention} 
여행자 보험 가입여부 분류 : https://www.kaggle.com/datasets/tejashvi14/travel-insurance-prediction-data   
**DataUrl(train) = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv**     
**DataUrl(test) = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv**      
종속 변수 : TravelInsurance , TravelInsurance가 1일 확률을 구해서 제출하라. 평가지표 : auc     
제출 파일의 컬럼은 ID, proba 두개만 존재해야한다.

```

In [52]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')
train.head()

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,1008,26,Private Sector/Self Employed,Yes,1400000,5,0,No,Yes,1
1,199,30,Private Sector/Self Employed,No,1450000,5,0,Yes,Yes,1
2,86,32,Government Sector,Yes,900000,4,0,No,No,0
3,560,26,Private Sector/Self Employed,Yes,1400000,7,0,No,Yes,1
4,161,34,Private Sector/Self Employed,No,1400000,3,1,No,Yes,1

In [156]:
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')
# 1. 데이터 탐색
# print(train.info())
# print(test.info())

# 2. 데이터 전처리
ID1 = test['ID'].copy()
x_train = train.drop(['ID','TravelInsurance'],axis=1)
y = train['TravelInsurance']
x_test = test

x_train_dummies = pd.get_dummies(x_train)
x_test_dummies = pd.get_dummies(x_test)
x_test_dummies = x_test_dummies[x_train_dummies.columns]

# 3. 모델링
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score

x_train,x_val,y_train,y_val = train_test_split(x_train_dummies,y,test_size=0.2,stratify=y,random_state=42)
rf = RandomForestClassifier(random_state=23)
rf.fit(x_train,y_train)

# 4. 성능확인
y_pred = rf.predict(x_val)
y_pred_proba = rf.predict_proba(x_val)
acc = accuracy_score(y_val,y_pred)
auc = roc_auc_score(y_val,y_pred_proba[:,1])

print(acc)
print(auc)

# 5. 제출
y_proba = rf.predict_proba(x_test_dummies)

pd.DataFrame({'ID':ID1, 'proba':y_proba}).to_csv('007002940.csv',index=False)

0.738255033557047
0.7658215408805031

# 작업 3유형

```{attention} 
다이어트약의 전후 체중 변화 기록이다. 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv**
**투약 후 체중에서 투약 전 체중을 뺏을 때 값은 일반 적으로 세가지 등급으로 나눈다. -3이하 : A등급,  -3초과 0이하 : B등급, 0 초과 : C등급.**
**약 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다. 위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.**
```

In [158]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df.head()

       ID     투약전     투약후
0  user_1  55.137  56.106
1  user_2  66.584  60.409
2  user_3  52.259  50.639
3  user_4  77.081  69.164
4  user_5  62.677  57.622

```{admonition} 3-1-a
**A등급에 해당하는 유저는 몇명인지 확인하라**
```

In [160]:
df['차이'] = df['투약후']-df['투약전']
df['등급'] = np.where(df['차이']<-3,'A',df['차이'])
df = df[df['등급']=='A']
# df
print(len(df))

121

```{admonition} 3-1-a
**카이제곱검정 통계량을 반올림하여 소숫점 이하 3째자리까지 구하여라**
```

In [170]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df['dels'] = df['투약후'] - df['투약전']

def groupby_filter(x):
    if x <=-3:
        return 'A'
    
    elif x <=0:
        return 'B'
    
    else:
        return 'C'
    
df['groupby'] = df['dels'].apply(groupby_filter)
result = df['groupby'].value_counts().sort_index()['A']
print(result)

121

In [175]:
df
target = df['groupby'].value_counts().sort_index().to_frame()
target['expected'] = [target['groupby'].sum()*0.5,target['groupby'].sum()*0.25,target['groupby'].sum()*0.25]

from scipy.stats import chisquare
s,p = chisquare(target['groupby'],target['expected'])

round_s = round(s,3)
print(round_s)
# target = df['groupby'].value_counts()
# target = target.to_frame()
# target
# target['expected'] = [target['groupby'].sum()*0.5,target['groupby'].sum()*0.25,target['groupby'].sum()*0.25]
# target
# from scipy.stats import chisquare
# len(df)
# int(235/4)
# a = int(58.*2)
# b = int(58*1)
# c = int(58*1)
# print(a,b,c)

# f_obs = (117,59,59)
# f_exp = (79,78,78)

KeyError: 'groupby'

```{admonition} 3-1-a
**카이제곱 검정 p값을 반올림하여 소숫점 이하 3자리까지 구하고, 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)**
```

```{attention} 
다이어트약의 전후 체중 변화 기록이다. 
**DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2.csv**
**A,B 공장에서 생산한 기계들의 rpm 값들을 기록한 데이터이다.**
**대응 표본 t 검정을 통해 B공장 제품들이 A 공장 제품들보다 rpm이 높다고 말할 수 있는지 검정하려한다**
```

In [177]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df.head()

     rpm group
0  163.6     A
1  246.9     A
2  234.9     A
3  156.9     A
4  226.6     A

```{admonition} 3-2-a
**A,B 공장 각각 정규성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)**
```

In [178]:
import scipy.stats as stats
from scipy.stats import shapiro

df1 = df.copy()
df2 = df.copy()

df1 = df1[df1['group']=='A']
# df1
df2 = df2[df2['group']=='B']
# df2

statA,pvalA = stats.shapiro(df1['rpm'])
statB,pvalB = stats.shapiro(df2['rpm'])

print(statA,pvalA)
print(statB,pvalB)

0.9863898158073425 0.397915244102478
0.9943947196006775 0.9562925100326538

```{admonition} 3-2-b
**A,B 공장 생산 제품의 rpm은 각각 정규성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)**
```

In [180]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df1 = df.copy()
df2 = df.copy()

df1 = df1[df1['group']=='A']
# df1
df2 = df2[df2['group']=='B']
# df2
import scipy.stats as stats
from scipy.stats import levene

# stat,pval = levene(df1['rpm'],df2['rpm'])
stat,pval = stats.bartlett(df1['rpm'],df2['rpm'])
print(stat,pval)

0.018038205297268895 0.8931603037661102

```{admonition} 3-2-c
*대응 표본 t 검정을 통해 B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다고 말할 수 있는지 검정하라. pvalue를 소숫점 이하 3자리까지 출력하고 
귀무가설, 대립가설 중 하나를 출력하라**
```

In [142]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df1 = df.copy()
df2 = df.copy()

df1 = df1[df1['group']=='A']
# df1
df2 = df2[df2['group']=='B']
# df2

import scipy.stats as stats
from scipy.stats import shapiro

stat,pval = stats.ttest_rel(df2['rpm'],df1['rpm'],alternative='greater')
# print(stat, pval)

print(round(pval,3))

0.009